{{ $dataForGraph := .Site.Data.postGraph }}
<div>
{{ range $k, $v := $dataForGraph }}
<div class="epg" style=" margin: 20px 0;">
    <div class="epg__year">{{ $k }}</div>
    <div class="epg__months">
        <div>Jan</div>
        <div>Feb</div>
        <div>Mar</div>
        <div>Apr</div>
        <div>May</div>
        <div>Jun</div>
        <div>Jul</div>
        <div>Aug</div>
        <div>Sep</div>
        <div>Oct</div>
        <div>Nov</div>
        <div>Dec</div>
    </div>
    <div class="epg__squares">

        {{ with $v.offset }}
            {{ range $i := seq 1 . }}
                <div class="epg__box epg__box--empty"></div>
            {{ end }}
        {{ end}}

        {{ with $v.days }}
            {{ range $i := seq 1 . }}
                {{ if in $v.daysWithPost $i }}
                    <div class="epg__box epg__hasPost"></div>
                {{ else }}
                    <div class="epg__box"></div>
                {{ end }}
            {{ end }}
        {{ end}}

    </div>
</div>
{{ end }}
</div>
